<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LoginPage</title>
  </head>
  <body>
    <p>
      로그인 페이지입니다.
    </p>
    <p>
      아이디
      <input type="text" name="id">
    </p>
    <p>
      비밀번호
      <input type="password" name="password">
    </p>
    <p>
       <input type="button" name="login_check" value="로그인" onclick="location.href='/id/home">
       <input type="button" name="register" value="회원가입" onclick="location.href='/register">
  </body>
</html>