<!DOCTYPE html>
<html lang="en" dir="ltr">
<head> 
  <meta charset="utf-8">
  <title>Block</title>
  <link rel="stylesheet" href="/static/css/style_block.css">
</head>
<style>
    body{
        padding: 0;
        margin: 0;
    }
    .block1{
        background-color: yellow;
        border: 5px solid black;
        margin: 10pt;
        width: 200pt;
        height: 100pt;
        text-align: center;
        font-size: 32pt;
        color: blue;
    }
</style>
<body>
    {%extends "base.html"%}

    {% block content %}
    <a>
        <span style="color:red; font-weight: bold; font-size: 32pt;"> 블록 </span>
    </a>
    <div class="block1">
        블록
    </div>
    <div class="block">
        css블록
    </div>
    {% endblock %}
  </body>
</html>