<!DOCTYPE html>
<html lang="en" dir="ltr">
<head> 
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="static/css/style_home.css">
  <script type="text/javascript" src="static/js/index.js"></script>
</head>
<body>
  <h1>Home</h1>
  
  <a>
    url모음
  </a>
  <p>
    <span style="color: red;">빨간색</span> 여긴 아니야 <tr>
  </p>
  <p>
    <input type="button" onclick="hello()" value="Hello">
  </p>
  
  <p>
    <input type="button" name="login" value="login" onclick="location.href='/home/login'">
  </p>
  
  <p>
    <input type="button" name="게시판" value="게시판" onclick="location.href='/home/pages'">
  </p>
  <p>
    <input type="button" name="블록 페이지" value="블록" onclick="location.href='/home/blockpage'">
  </p>
  <img src="/templates/image/cat1.jpg" width="200pt" height="200pt">
</body>
</html>
